body {
  font-family: 'Lato', sans-serif;
  color: #555555; }
  body main {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 780px) {
      body main {
        width: 80%;
        min-width: 200px; } }
    body main section {
      border: 1px solid #6441a4; }
      body main section.search {
        padding: 25px 15px;
        background-color: #6441a4; }
        body main section.search h1 {
          color: #d9d9d9;
          margin-top: 0;
          font-size: 1.2em; }
          @media (min-width: 650px) {
            body main section.search h1 {
              text-align: center;
              font-size: 1.5em; } }
        body main section.search #search-container {
          max-width: 515px; }
          @media (min-width: 650px) {
            body main section.search #search-container {
              margin: 0 auto; } }
        body main section.search input {
          padding: 10px;
          border: none;
          background-color: #6441a4;
          border-bottom: solid 2px #b19dd8;
          transition: border 0.3s;
          width: calc(100% - 110px);
          font-size: 16px; }
          @media (min-width: 650px) {
            body main section.search input {
              max-width: 400px;
              text-align: center; } }
          body main section.search input:focus {
            border-bottom: solid 2px #969696; }
        body main section.search input, body main section.search select, body main section.search textarea {
          color: whitesmoke; }
        body main section.search button#search {
          background-color: #b19dd8;
          color: whitesmoke;
          border: 2px solid #b19dd8;
          border-radius: 2px;
          transition: all 0.4s;
          height: 35px;
          min-width: 75px;
          margin-left: 10px;
          font-weight: bold;
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
          body main section.search button#search:hover {
            border-color: #997fcc;
            background-color: #997fcc;
            color: #6441a4; }
        body main section.search #invalid-input {
          display: none;
          color: white;
          font-size: 75%;
          margin: 5px 0 0 0;
          position: absolute; }
          body main section.search #invalid-input.show {
            display: block; }
      body main section#results {
        padding: 15px;
        display: none; }
        body main section#results.show {
          display: block; }
        body main section#results #num-results, body main section#results #pagination {
          display: inline-block;
          margin: 0 0 10px 0; }
        body main section#results #pagination {
          float: right; }
          body main section#results #pagination #prev:hover, body main section#results #pagination #next:hover {
            cursor: pointer;
            color: #6441a4; }
          body main section#results #pagination #prev:before {
            content: '\2190'; }
          body main section#results #pagination #next:after {
            content: '\2192'; }
        body main section#results .result-container {
          border: 1px solid #cccccc;
          padding: 10px;
          margin: 10px 0; }
          body main section#results .result-container .preview-img {
            background-position: center;
            background-size: cover;
            vertical-align: middle;
            display: inline-block;
            height: 120px;
            width: 45%; }
            @media (min-width: 400px) {
              body main section#results .result-container .preview-img {
                width: 100%;
                height: 180px;
                max-width: 320px;
                margin-right: 10px; } }
            @media (min-width: 650px) {
              body main section#results .result-container .preview-img {
                width: 40%; } }
          body main section#results .result-container .text-info {
            vertical-align: middle;
            display: inline-block;
            width: 54%; }
            @media (min-width: 400px) {
              body main section#results .result-container .text-info {
                width: 100%; } }
            @media (min-width: 650px) {
              body main section#results .result-container .text-info {
                width: 57%; } }

/*# sourceMappingURL=styles.css.map */
